{% set page_title = "Home" %}

{% include "header.jinja2" %}

<h2>GHoWSt DUETS</h2>

<img src="{{ url_for('static', filename='images/ghowstduetlogo.png') }}" alt="GHoWSt DUET logo" width="744" height="682" style="width: auto; height: 72px; float: left; margin-right: 10px; margin-bottom: 10px;">

<h3>Depend Upon Existing Technology Stack</h3>

<p>The time is {{ date }}. {{ my_function }}.</p>

<p>Request URI: {{ request_uri }}</p>

{% include "footer.jinja2" %}